<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>
        Sports Highlights - Search
    </title>
</head>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'highlights/style.css' %}">

<body>
    <div id='content'>
        <h1>Sports Highlights</h1>
        <h4>Enter Search Criteria:</h4>
        <div id='searchCriteria'>
            <form method="post" id="searchForm">{% csrf_token %}
                <div id='searchInputs'>
                    <div id='searchCriteriaLeft'>
                        <label for="player_lname">Player Last Name:</label><br>
                        <input class="form-control" id="player_lname" type="text" name="player_lname" placeholder="Search by Player Last Name" required><br>
                        <label for="player_position">Player Position:</label>
                        <select class="form-control" name="player_position" id="player_position" required>
                            <option selected disabled value>Search by Position</option>
                            <option>Point Guard</option>
                            <option>Shooting Guard</option>
                            <option>Center</option>
                            <option>Small Forward</option>
                            <option>Power Forward</option>
                        </select>
                        <label for="highlight_type">Highlight Type:</label>
                        <select class="form-control" name="highlight_type" id="highlight_type" required>
                            <option selected disabled value>Search by Highlight Type</option>
                            <option>Dunk</option>
                            <option>2PT</option>
                            <option>3PT</option>
                            <option>Dribbling</option>
                            <option>Passing</option>
                        </select>
                    </div>
                </div>
        
                <div id="submitButton">
                    <input type="submit" class="btn btn-dark" value="Search">
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
