<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>
        Sports Highlights - Search
    </title>
</head>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'highlights/style.css' %}">

<body>
    <div id='content'>
        <h1>Sports Highlights</h1>
        <h4>Enter Search Criteria:</h4>
        <div id='searchCriteria'>
            <form method="post" id="searchForm">{% csrf_token %}
                <div id='searchInputs'>
                    <div id='searchCriteriaLeft'>
                        <label for="player_name">Player Name:</label><br>
                        <input class="form-control" id="player_name" type="text" name="player_name" placeholder="Search by Player Name"><br>
                        <label for="team_name">Team Name:</label><br>
                        <input class="form-control" id="team_name" type="text" name="team_name" placeholder="Search by Team Name"><br>
                        <label for="coach_name">Coach Name:</label><br>
                        <input class="form-control" id="coach_name" type="text" name="coach_name" placeholder="Search by Coach Name"><br>
                        <label for="game_date">Game Date:</label><br>
                        <input class="form-control" id="game_date" type="date" name="game_date" placeholder="Search by Game Date"><br>
                    </div>
                    <div id='searchCriteriaRight'>
                        <label for="player_age">Player Age:</label><br>
                        <input class="form-control" id="player_age" type="number" name="player_age" placeholder="Search by Player Age" min="0" max="100"><br>
                        <label for="position">Position:</label>
                        <select class="form-control" name="position" id="position">
                            <option selected disabled value>Search by Position</option>
                            <option>Point Guard</option>
                            <option>Shooting Guard</option>
                            <option>Center</option>
                            <option>Small Forward</option>
                            <option>Power Forward</option>
                        </select>
                        <label for="city">City:</label><br>
                        <input class="form-control" id="city" type="text" name="city" placeholder="Search by City"><br>
                        <label for="highlight_type">Highlight Type:</label>
                        <select class="form-control" name="highlight_type" id="highlight_type">
                            <option selected disabled value>Search by Highlight Type</option>
                            <option>Dunks</option>
                            <option>Two Pointers</option>
                            <option>Three Pointers</option>
                            <option>Assists</option>
                            <option>Dribbling</option>
                        </select>
                    </div>
                </div>
        
                <div id="submitButton">
                    <input type="submit" class="btn btn-dark" value="Search">
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
